@{
    ViewData["Title"] = "SuccessRegister";
}
<h1>امور مالی</h1>
<hr />

<div class="row">
    <div class="col-sm-7">
        <div>

            <p class="h3">انجام کلیه امور مالی در انواع فعالیت ها:</p>
            <ul class="type-info h4" style="padding-right:7px">
                <li class="font-weight-bold" style="padding-bottom:5px">
                    -فعالیت های بازرگانی
                </li>
                <li style="padding-bottom:5px">
                    -فعالیت های تولیدی
                </li>
                <li style="padding-bottom:5px">
                    -فعالیت های خدماتی
                </li>

            </ul>
        </div>
        <partial name="_Request"></partial>
    </div>

    <div class="col-sm-5">
        <img src="~/images/BlogAccuntent/fin.jpg" />
    </div>
</div>
