@model MyRshop.Models.Request
@{
    ViewData["Title"] = "درخواست نیروی کار";
}

    <h1>درخواست نیروی کار</h1>
<hr />

<head>
    <meta name="apple-mobile-web-app-title" content="درخواست نیروی کار در نجف اباد" />
    <meta name="description" content="کار ICDL,حسابدار,مدیر مالی,کمک حسابدار,فعالیت های خدماتی ,برنامه نویس,فعالیت های بازرگانی,فعالیت های تولیدی"
</head>
<div class="row">
    <div class="col-sm-7">
        <p class="h3"> نیرو های کاری ما در تمام سطح شهر با مهارت های بالا مشغول به کار اند :</p>
        <ul class="type-info h4" style="padding-right:7px;padding-bottom:10px">
            <li class="font-weight-bold" style="padding-bottom:5px">
                -حسابداری
            </li>
            <li style="padding-bottom:5px">
                -ICDL
            </li>
            <li style="padding-bottom:5px">
                -بورس
            </li>
            <li style="padding-bottom:5px">
                -فتوشاپ
            </li>
            <li style="padding-bottom:5px">
                -برنامه نویسی
            </li>
        </ul>
        <form class="form-horizontal" asp-controller="BlogAccounting" asp-action="HiringAccountant">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">نوع فعالیت:</label>
                <div class="col-sm-7">
                    <select asp-for="Activity" asp-items="Html.GetEnumSelectList<ActivityType>()" class="form-control" id="inputEmail3" placeholder="نوع فعالیت">
                        <option selected="selected" value="">لطفا انتخاب کنید.</option>
                        <span asp-validation-for="Activity" class="text-danger"></span>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">نام کارگاه:</label>
                <div class="col-sm-7">
                    <input type="text" asp-for="WorkshopName" class="form-control" id="inputEmail3" placeholder="نام کارگاه">
                    <span asp-validation-for="WorkshopName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">نام کارفرما:</label>
                <div class="col-sm-7">
                    <input type="text" asp-for="BossName" class="form-control" id="inputEmail3" placeholder="نام کارفرما">
                    <span asp-validation-for="BossName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">آدرس:</label>
                <div class="col-sm-7">
                    <input type="text" asp-for="Address" class="form-control" id="inputEmail3" placeholder="آدرس">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">تلفن:</label>
                <div class="col-sm-7">
                    <input type="tel" asp-for="TellPhon" class="form-control" id="inputEmail3" placeholder="تلفن">
                    <span asp-validation-for="TellPhon" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-7">
                    <p class="h3">لطفا اطلاعات مورد نظر شما در مورد شخص را وارد کنید.</p>
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">نوع تخصص:</label>
                <div class="col-sm-7">
                    <select asp-for="Spetial" asp-items="Html.GetEnumSelectList<SpetialType>()" class="form-control" id="testSelect" placeholder="نوع تخصص">
                        <option value="0">حسابداری</option>
                        <option value="1">ICDL</option>
                        <option value="2">فتوشاپ</option>
                        <option value="3">برنامه نویس</option>
                        <option value="4">طراحی سایت</option>
                        <option value="5">تحلیل تکنیکال بورس</option>
                        <option value="6">تحلیل بنیادی بورس</option>
                    </select>
                    <span asp-validation-for="Spetial" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">تاریخ تولد نیرو:</label>
                <div class="col-sm-7">
                    <input asp-for="Birthday" data-jdp placeholder="کلیک کنید" class="form-control" data-jdp-only-date />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                    <script>
                        jalaliDatepicker.startWatch({
                            minDate: "attr",
                            maxDate: "attr",
                            time: true,
                            changeMonthRotateYear: true,
                            showTodayBtn: true,
                            showEmptyBtn: true,
                            topSpace: 10,
                            bottomSpace: 30,
                            dayRendering(opt, input) {
                                return {
                                    isHollyDay: opt.day == 1
                                }
                            }
                        });

                        document.getElementById("aaa").addEventListener("jdp:change", function (e) { console.log(e) });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">سابقه کار مورد نظر:</label>
                <div class="col-sm-7">
                    <textarea asp-for="Experience" type="text" class="form-control" id="inputEmail3" placeholder="مهارت های مورد نیاز شما"></textarea>
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">جنسیت:</label>
                <div class="col-sm-7">
                    <input asp-for="Sex" type="radio" id="sex1" name="sex" value="true"><label>مرد</label>
                    <input asp-for="Sex" type="radio" id="sex2" name="sex" value="false"><label> زن</label>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail32" class="col-sm-2 control-label">وضعیت تاهل:</label>
                <div class="col-sm-7">

                    <input asp-for="Marital" type="radio" id="martial1" name="martial" value="true"><label>مجرد</label>

                    <input asp-for="Marital" type="radio" id="martial2" name="martial" value="false"> <label>متاهل</label>
                    <span asp-validation-for="Marital" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">حقوق پیشنهادی:</label>
                <div class="col-sm-7">
                    <select asp-for="SalaryPrice" asp-items="Html.GetEnumSelectList<Salary>()" class="form-control" id="inputEmail3" placeholder="حقوق پیشنهادی">
                        <option selected="selected" value="مطابق با قانون کار"></option>
                        @*<option value="مطابق با قانون کار">مطابق با قانون کار</option>
                        <option value="توافقی">توافقی</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">اسم نرم افزارها:<br /><p style="font-size:12px">اسم برنامه هایی که در آن محیط کار میکنید.</p></label>
                <div class="col-sm-7">
                    <input asp-for="SoftwareName" type="text" class="form-control" id="inputEmail3" placeholder="اسم نرم افزار">
                    <span asp-validation-for="SoftwareName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">ثبت اطلاعات</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-5">
        <img src="~/images/BlogAccuntent/worker.jpg" />
    </div>
</div>


