
@{
    ViewData["Title"] = "HiringTeacher";
}


<h1>استخدام مدرس</h1>
<hr />
<head>
    <meta name="apple-mobile-web-app-title" content="استخدام مدرس" />
    <meta name="description" content="مدرس حسابداری,مدرس کامپیوتر,مدرس برنامه نویسی, نجف اباد"
</head>
<div class="row">
    <div class="col-sm-7">
        <div>

            <p class="h3"> مدرسین ما جز بهترین ها هستند میتوانید یکی از آن ها باشید :</p>
            <ul class="type-info h4" style="padding-right:7px;padding-bottom:10px">
                <li class="font-weight-bold" style="padding-bottom:5px">
                    -مدرس حسابداری
                </li>
                <li style="padding-bottom:5px">
                    -مدرس کامپوتر
                </li>
                <li style="padding-bottom:5px">
                    -مدرس برنامه نویسی
                </li>

            </ul>
        </div>
        <partial name="_Hirring" />

        <!-- ShowComment -->

    </div>

    <div class="col-sm-5">
        <img src="~/images/BlogAccuntent/Teacher.jpg" />
    </div>
</div>


