
@{
    ViewData["Title"] = "استخدام حسابدار";
}

<h1>استخدام شما</h1>
<hr />
<br />
<head>
    <meta name="apple-mobile-web-app-title" content="استخدام  شما در نجف اباد" />
    <meta name="description" content="کامپیوتر,انباردار,برنامه نویس در نجف اباد,ICDL, حسابداری در نجف اباد"
</head>

<div class="row">
    <div class="col-sm-7">
        <p class="h3"> استخدام قطعی شما در شرکت های معتبر :</p>
        <ul class="type-info h4" style="padding-right:7px;padding-bottom:10px">
            <li class="font-weight-bold" style="padding-bottom:5px">
                -حسابداری
            </li>
            <li style="padding-bottom:5px">
                -ICDL
            </li>
            <li style="padding-bottom:5px">
                -بورس
            </li>
            <li style="padding-bottom:5px">
                -فتوشاپ
            </li>
            <li style="padding-bottom:5px">
                -برنامه نویسی
            </li>
        </ul>
        <partial name="_Hirring" />

    </div>

    <div class="col-sm-5">
        <img src="~/images/BlogAccuntent/Hirring.jpg" />
    </div>
</div>



