
@{
    ViewData["Title"] = "SoftwareInstalation";
}

<h1>SoftwareInstalation</h1>

<style>
    .pa {
        padding: 4px;
        margin: 2px;
    }
</style>
<div class="row">
    <div class="col-12 col-md-9 border">
        <div class="pa">
            <img class="center" style="float:right !important" src="/images/7.jpg" />
            <div class="">
                <p class="pa">
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                    متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ متن بلاگ
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 border pa">
        <p class="pa">
            <a href="#" style="">لینک 1</a>
        </p>
        <p class="pa">
            <a href="#" style="">لینک 1</a>
        </p>
        <p class="pa">
            <a href="#" style="">لینک 1</a>
        </p>
        <p class="pa">
            <a href="#" style="">لینک 1</a>
        </p>

    </div>
</div>