
@{
    ViewData["Title"] = "TaxAffairs";
}

<h1>مشاوره مالی</h1>
<hr />


<div class="row">
    <div class="col-sm-7">
        <div>

            <p class="h3">مشاوره به بهترین شکل به صورت رایگان و مناسب ترین قیمت:</p>
            <ul class="type-info h4" style="padding-right:7px;padding-bottom:10px">
                <li class="font-weight-bold" style="padding-bottom:5px">
                    -مشاوره تخصصی قوانین
                </li>
                <li style="padding-bottom:5px">
                    -مشاوره جهت کاهش مالیات
                </li>
                <li style="padding-bottom:5px">
                    -تنظیم دفاعیه
                </li>
                <li style="padding-bottom:5px">
                    -حضور در هیت های حل اختلاف
                </li>
                <li style="padding-bottom:5px">
                    -آشنایی با قوانین
                </li>
            </ul>
        </div>
        <partial name="_Request"></partial>
    </div>

    <div class="col-sm-5">
        <img src="~/images/BlogAccuntent/Advice.jpg" />
    </div>
</div>
