
@{
    ViewData["Title"] = "TaxAdvice";
}

<h1>امور مالیاتی</h1>
<hr />
<br />

<head>
    <meta name="apple-mobile-web-app-title" content="انجام کلیه امور مالیاتی" />
    <meta name="description" content="فعالیت های خدماتی ,انجام کلیه امور مالیاتی در انواع فعالیت ها,فعالیت های بازرگانی,فعالیت های تولیدی"
</head>

<div class="row">
    <div class="col-sm-7">
        <div>

            <p class="h3">انجام کلیه امور مالیاتی در انواع فعالیت ها:</p>
            <ul class="type-info h4" style="padding-right:7px">
                <li style="padding-bottom:5px" class="font-weight-bold">
                    -فعالیت های بازرگانی
                </li>
                <li style="padding-bottom:5px">
                    -فعالیت های تولیدی
                </li>
                <li style="padding-bottom:5px">
                    -فعالیت های خدماتی
                </li>

            </ul>
        </div>
        <partial name="_Request"></partial>
    </div>

    <div class="col-sm-5">
        <img src="~/images/BlogAccuntent/Tax.jpg" />
    </div>
</div>
