
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>ثبت  با موفقیت انجام شد</h1>

<div class="alert alert-success">
     کاربر عزیز  ممنون از ثبت درخواست شما با موفقیت انجام شد در اسرع وقت با شما تماس می گیریم.
    <a asp-controller="Accuont" asp-action="Login">
        ورود به سایت
    </a>
</div>