
@{
    ViewData["Title"] = "DownloadsSoftware";
}

<h1>دانلود انواع نرم افزار های حسابداری</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-12 clearfix">
        <div class="title col-md-8">
            <a style="font-size:20px;font-display:block" href="https://almasgrp.com/%d9%86%d8%b3%d8%ae%d9%87-%d9%87%d8%a7%db%8c-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%db%8c/">دانلود نرم افزار الماس( انواع دمو ها) </a>
        </div>
        <div class="col-md-5">
            <div class="title">

            </div>
            <div class="type-info" style="padding-right:7px">
                <p>
                    نرم افزار الماس یکی از  اولین نرم افزار های حسابداری است
                </p>
                <ul style="padding-right:10px">
                    <li>
                        -دمو سیما
                    </li>
                    <li>
                        -دمو سما
                    </li>
                    <li>
                        -دمو دیبا
                    </li>
                </ul>
            </div>
 
        </div>
        <div class="col-md-2">
            <img src="~/images/Downloads/Almas.jpg" />
        </div>
    </div>

    <div class="col-md-12 clearfix">
        <div class="title col-md-8">
            <a href="https://www.sepidarsystem.com/#sepidar-section" style="font-size:20px;font-display:block">دانلود نرم افزار سپیدار</a>
        </div>
        <div class="col-md-5">
            <div class="title">

            </div>
            <div class="type-info" style="padding-right:7px">
                <p>
                    نرم افزار سپیدار یکی از پر کاربرد ترین نرم افزار های حسابداری است
                </p>
                <ul style="padding-right:10px">
                    <li>
                        -نسخه 64
                    </li>
                    <li>
                        -نسخه32
                    </li>
                    <li>
                        -کاربردی
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-2">
            <img src="~/images/Downloads/sepidar (2).jpg" />
        </div>
    </div>


    <div class="col-md-12 clearfix">
        <div class="title col-md-8">
            <a style="font-size:20px;font-display:block" href="http://www.parsiansoftgroup.com/%D8%AF%D8%A7%D9%86%D9%80%D9%80%D9%80%D9%84%D9%80%D9%80%D9%80%D9%80%D9%88%D8%AF">دانلود نرم افزار پارسیان</a>
        </div>
        <div class="col-md-5">
            <div class="title">

            </div>
            <div class="type-info" style="padding-right:7px">
                <p>
                    نرم افزار پارسیان یکی از راحت ترین نرم افزار های حسابداری است
                </p>
                <ul style="padding-right:10px">
                    <li>
                        -جامع
                    </li>
                    <li>
                        -ساده
                    </li>
                    <li>
                        -کاربردی
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-2" style="height:260px;width:260px;align-content:center">
            <img src="~/images/Downloads/parsian (2).jpg" />
        </div>
    </div>
   
</div>
