
@{
    ViewData["Title"] = "Comment2";
}

<h1>در حال برسی...</h1>
<div class="alert alert-success">
    کاربر عزیز @User.Identity.Name پیام شما در حال برسی است لطفا صبور باشید تا 24 ساعت آینده به شما پاسخ می دهیم !


</div>
