
@{
    ViewData["Title"] = "Icdl";
}

<h1>دوره جامع ICDL</h1>
<div class="bs-example wow fadeInLeft animated animated" data-wow-delay=".5s" data-example-id="simple-table" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <form class="form-horizontal">
        <table class="table">
            <caption>برنامه کلاسی (روز های فرد و زوج شامل تمامی روز های غیر تعطیل میباشد)</caption>
            <thead>
                <tr>
                    <th>انتخاب</th>
                    <th>روز های هفته</th>
                    <th>نام دوره</th>
                    <th>ساعت کلاسی</th>
                    <th>تاریخ شروع</th>
                    <th>استاد</th>
                    <th>قیمت</th>
                    <th>ساعت اموزش</th>
                    <th>ظرفیت</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">یکشنبه-سه شنبه-پنج شنبه</th>
                    <td>جامع ICDL</td>
                    <th>13:30-15</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">یکشنبه-سه شنبه-پنج شنبه</th>
                    <td>جامع ICDL</td>
                    <th>15-16:30</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">یکشنبه-سه شنبه-پنج شنبه</th>
                    <td>جامع ICDL</td>
                    <th>16:30-18</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">یکشنبه-سه شنبه-پنج شنبه</th>
                    <td>جامع ICDL</td>
                    <th>18-19:30</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">یکشنبه-سه شنبه-پنج شنبه</th>
                    <td>جامع ICDL</td>
                    <th>19:30-21</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">شنبه-دوشنبه-چهار شنبه</th>
                    <td>جامع ICDL</td>
                    <th>13:30-15</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">شنبه-دوشنبه-چهار شنبه</th>
                    <td>جامع ICDL</td>
                    <th>15-16:30</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">شنبه-دوشنبه-چهار شنبه</th>
                    <td>جامع ICDL</td>
                    <th>16:30-18</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">شنبه-دوشنبه-چهار شنبه</th>
                    <td>جامع ICDL</td>
                    <th>18-19:30</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='regular' name="optradio"></label>
                        </div>
                    </td>
                    <th scope="row">شنبه-دوشنبه-چهار شنبه</th>
                    <td>جامع ICDL</td>
                    <th>19:30-21</th>
                    <td>1400/8/1</td>
                    <td>خانم صالحی</td>
                    <td>2,000,000</td>
                    <td>60</td>
                    <td>13</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-2"></div>
        <input type="submit" class="col-md-8 btn btn-primary" width="400px" value="انتخاب دوره" />
    </form>
</div>
