
@{
    ViewData["Title"] = "راه اندازی شبکه";
}

<h1>راه اندازی شبکه</h1>
<div class="row">
    <div class="col-md-7 col-sm-3">
        <div>

            <p class="h3">پیاده سازی انواع شبکه ها برای شما انجام می گیرد:</p>
            <ul class="type-info h4" style="padding-right:7px">
                <li class="font-weight-bold" style="padding-bottom:5px">
                    -پسیو
                </li>
                <li style="padding-bottom:5px">
                    -اکتیو
                </li>


            </ul>
        </div>
        <partial name="SoftService"></partial>
    </div>

    <div class="col-md-5 col-sm-2">
        <img src="~/images/BlogComputer/network.jpg" />
    </div>
</div>



