
@{
    ViewData["Title"] = "طراحی سایت";
}

<h1>طراحی سایت</h1>
<div class="row">
    <div class="col-md-7 col-sm-3">
        <div >

            <p class="h3">طراحی انواع سایت ها برای شما انجام می گیرد:</p> 
            <ul class="type-info h4" style="padding-right:7px">
                <li class="font-weight-bold" style="padding-bottom:5px">
                    -سایت های فروشگاهی
                </li>
                <li style="padding-bottom:5px">
                   -سایت های آموزشی
                </li>
                <li style="padding-bottom:5px">
                    -سایت های تولید محتوا
                </li>

            </ul>
        </div>
        <partial name="SoftService"></partial>
    </div>
    
    <div class="col-md-5 col-sm-2">
        <img src="~/images/BlogComputer/website-design.jpg" />
    </div>
</div>
