
@{
    ViewData["Title"] = "نصب نرم افزار";
}

<h1>نصب نرم افزار</h1>

<div class="row">
    <div class="col-md-7 col-sm-3">
        <div>

            <p class="h3">نصب انواع نرم افزار های حسابداری کامپیوتر و غیره:</p>
            <ul class="type-info h4" style="padding-right:7px">
                <li class="font-weight-bold" style="padding-bottom:5px">
                    -نصب نرم افزار های حسابداری
                </li>
                <li style="padding-bottom:5px">
                    -نصب نرم افزار های تخصصی کامپیوتر
                </li>


            </ul>
        </div>
        <partial name="SoftService"></partial>
    </div>

    <div class="col-md-5 col-sm-2">
        <img src="~/images/BlogComputer/software.jpg" />
    </div>
</div>



